.secret-phrase-grid-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  /* max-width: calc(800px + 1rem); */
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

@media screen and (max-width: 900px) {
  .secret-phrase-grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .secret-phrase-grid-container {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}
