.secret-phrase-grid-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  /* max-width: calc(800px + 1rem); */
  /* min-width: 300px; */
  justify-content: center;
  align-items: center;
  padding-block: 1.6rem;
  border-radius: 5px;
}

.secret-phrase-grid-container > .secret-phrase-input {
  width: 20%;
  min-width: 100px;
  max-width: 200px;
}
