.secret-phrase-input {
  border: none;
  padding: 0.8rem 0.5rem;
  border-radius: 10px;
  text-align: left;
  background-color: var(--primary-500);
  font-size: 0.8rem;
  color: var(--text-1000);
  font-weight: 550;
}

.secret-phrase-input:focus {
  outline: 2px solid var(--primary-900);
}
