.wallet {
  padding-block: 0.5rem;
}

.wallet-secret-phrase-copy {
  color: var(--text-1100);
  padding: 1rem;
  border: 1px solid var(--primary-500);
  text-align: center;
  cursor: copy;
  display: flex;
  width: 100px;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.wallet-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  align-items: flex-end;
  font-size: clamp(0.8rem, 2vw + 0.8rem, 1rem);
}

.wallet-header > h3 {
  color: var(--text-1000);
  font-weight: 500;
  font-size: clamp(1rem, 2vw + 1rem, 1.2rem);
}

.wallet-body {
  display: grid;
  place-items: center;
}

.wallet-item {
  width: 400px;
}
