.main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-container {
  top: 50px;
  position: relative;
  width: 100%;
  max-width: 1280px;
  padding: 0.5rem 1rem;
}

@media screen and (max-width: 1280) {
  .main {
    display: flex;
    justify-content: center;
  }
}
